  body {
    background-color: gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .jumbotron {
    background-image: url("https://img.freepik.com/free-photo/two-men-doing-handstands_23-2147671849.jpg?w=1060&t=st=1675272937~exp=1675273537~hmac=ee9ea4e8a6d636c96fed7ea3e5c3ea1078011a9ebd6a2d324363416548c26753");
    background-size: auto;
    background-position: center;
    text-align: center;
    color: whitesmoke;
  }